-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: pavithra_erp_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
INSERT INTO `audit_logs` VALUES ('2026-06-30 13:35:20.375700',1,1,'Deleted Vehicle','Vehicle','divakar','Deleted vehicle: TN 22 AB 1234');
INSERT INTO `audit_logs` VALUES ('2026-06-30 13:35:47.155704',2,2,'Deleted Vehicle','Vehicle','divakar','Deleted vehicle: TN 19 BR 5776');
INSERT INTO `audit_logs` VALUES ('2026-06-30 13:36:06.097129',3,3,'Deleted Vehicle','Vehicle','divakar','Deleted vehicle: TN 22 CD 5678');
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customer_payments`
--

LOCK TABLES `customer_payments` WRITE;
/*!40000 ALTER TABLE `customer_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (_binary '',0,'2026-06-30 13:10:45.222075',1,'2026-07-03 06:46:00.958939',NULL,NULL,NULL,'33AAAAA0001A1Z1','9999999901','Sri Ram Constructions');
INSERT INTO `customers` VALUES (_binary '',0,'2026-06-30 13:10:45.228646',2,'2026-07-03 06:45:52.290170',NULL,NULL,NULL,'33BBBBB0002B1Z2','9999999902','Madurai Blue Metals');
INSERT INTO `customers` VALUES (_binary '',0,'2026-06-30 13:10:45.234107',3,'2026-07-03 06:45:44.616464',NULL,NULL,NULL,'33CCCCC0003C1Z3','9999999903','Chennai Builders');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `driver_attendance`
--

LOCK TABLES `driver_attendance` WRITE;
/*!40000 ALTER TABLE `driver_attendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `driver_attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (7816,'2026-06-07','2026-06-30 13:10:45.256713',NULL,1,1,'2026-06-30 13:10:45.256713',3,NULL,NULL,'Fuel','Indian Oil','UPI');
INSERT INTO `expenses` VALUES (711,'2026-06-07','2026-06-30 13:10:45.266298',NULL,2,1,'2026-06-30 13:10:45.266298',3,NULL,NULL,'Toll','NHAI','Cash');
INSERT INTO `expenses` VALUES (8960,'2026-06-04','2026-06-30 13:10:45.284007',NULL,3,2,'2026-06-30 13:10:45.284007',1,NULL,NULL,'Fuel','Indian Oil','UPI');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fuel_logs`
--

LOCK TABLES `fuel_logs` WRITE;
/*!40000 ALTER TABLE `fuel_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `fuel_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `incomes`
--

LOCK TABLES `incomes` WRITE;
/*!40000 ALTER TABLE `incomes` DISABLE KEYS */;
INSERT INTO `incomes` VALUES (31615,'2026-06-08','2026-06-30 13:10:45.272264',1,1,'2026-06-30 13:10:45.272264','Payment from Coimbatore Cement Traders','Trip Income');
INSERT INTO `incomes` VALUES (21310,'2026-06-05','2026-06-30 13:10:45.299876',2,2,'2026-06-30 13:10:45.299876','Payment from Chennai Builders','Trip Income');
INSERT INTO `incomes` VALUES (33762,'2026-06-04','2026-06-30 13:10:45.318785',3,3,'2026-06-30 13:10:45.318785','Payment from Sri Ram Constructions','Trip Income');
/*!40000 ALTER TABLE `incomes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory_items`
--

LOCK TABLES `inventory_items` WRITE;
/*!40000 ALTER TABLE `inventory_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
INSERT INTO `maintenance_logs` VALUES ('2026-07-09',NULL,NULL,30000,'2026-07-09 10:18:58.086119',1,'2026-07-09 10:18:58.086119',19,'','FC Renewal','open type container ');
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `trips`
--

LOCK TABLES `trips` WRITE;
/*!40000 ALTER TABLE `trips` DISABLE KEYS */;
INSERT INTO `trips` VALUES (5000,NULL,NULL,355,2851,'2026-06-08',NULL,NULL,_binary '\0',11,NULL,'2026-06-07',NULL,NULL,31615,'2026-06-30 13:10:45.249716',5,4,1,'2026-06-30 13:10:45.249716',3,'UNPAID','Hyderabad',NULL,'Cement','Salem',NULL,'COMPLETED',NULL,NULL,NULL);
INSERT INTO `trips` VALUES (5000,NULL,NULL,411,2455,'2026-06-05',NULL,NULL,_binary '\0',26,NULL,'2026-06-04',NULL,NULL,21310,'2026-06-30 13:10:45.279236',3,3,2,'2026-06-30 13:10:45.279236',1,'UNPAID','Cochin',NULL,'Cement','Trichy',NULL,'COMPLETED',NULL,NULL,NULL);
INSERT INTO `trips` VALUES (5000,NULL,NULL,658,2244,'2026-06-04',NULL,NULL,_binary '\0',18,NULL,'2026-06-01',NULL,NULL,33762,'2026-06-30 13:10:45.305402',1,4,3,'2026-06-30 13:10:45.305402',8,'UNPAID','Cochin',NULL,'Steel','Coimbatore',NULL,'COMPLETED',NULL,NULL,NULL);
/*!40000 ALTER TABLE `trips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('2026-06-30 13:10:44.794392',2,'2026-06-30 13:10:44.794392','ecrelumlai@gmail.com','8056673379','$2a$10$NwUbRbHTg1YRrcCVNRKZau8u5yYuPvW/.2CD.HyqGJLWHSBhVdOCS','1234','Elumalai','ADMIN');
INSERT INTO `users` VALUES ('2026-06-30 13:10:44.867452',3,'2026-06-30 13:33:42.653737','kumar@pavithraerp.com','9876543210','$2a$10$sO2hYT6jPGSThs2WvLuFr.ddCduEh59smt.SiKtsw6TB1Mru6rLbO','1234','kumar','DRIVER');
INSERT INTO `users` VALUES ('2026-06-30 13:10:44.942666',4,'2026-06-30 13:33:42.655684','selvam@pavithraerp.com','9876543211','$2a$10$GP6WzEbgAnb0ON9BZUrW9.OUEkujBnA1KQV/7zQq3X/HwSkNPifCi','1234','selvam','DRIVER');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicle_documents`
--

LOCK TABLES `vehicle_documents` WRITE;
/*!40000 ALTER TABLE `vehicle_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicle_loans`
--

LOCK TABLES `vehicle_loans` WRITE;
/*!40000 ALTER TABLE `vehicle_loans` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_loans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
INSERT INTO `vehicles` VALUES ('2027-06-30','2026-07-04',_binary '',NULL,'2026-12-30','2026-07-30',NULL,NULL,'2026-06-30 13:10:45.177134',1,'2026-06-30 13:35:20.425736',NULL,NULL,NULL,'In-Trip','Tipper Lorry','TN 22 AB 1234');
INSERT INTO `vehicles` VALUES ('2027-02-28','2026-09-30',_binary '',NULL,'2026-07-11','2026-08-30',NULL,NULL,'2026-06-30 13:10:45.183785',2,'2026-06-30 13:35:47.170070',NULL,NULL,NULL,'In-Trip','Tipper Lorry','TN 19 BR 5776');
INSERT INTO `vehicles` VALUES ('2026-09-30','2026-11-30',_binary '',8,'2026-10-30','2026-07-20',NULL,NULL,'2026-06-30 13:10:45.186982',3,'2026-06-30 13:36:06.111222',NULL,'20ft',NULL,'Active','Container Lorry','TN 22 CD 5678');
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-10 17:37:36
